@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Seaweed+Script&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

#activeMenu{
  border: 5px solid tomato;
  border-radius: 100%;
  padding: 2px;
}

.xscrollbar::-webkit-scrollbar{
  display: none;
}